.header {
	background-color: rgba(var(--secondary-bg-color), 1);
	margin: 0;
	padding: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header-title {
	font-size: 2em;
	font-weight: 700;
	margin: 0.5em;
}
